body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #edc8c4;
}

#container {
    height: 700px;
    width: 700px;
    border: 1px solid black;
    background-color: #fff;
}

.cells {
    background-color: #fff;
}

.cells:hover {
    background-color: black;
}